
<div id="CreatePage">
    <div class="PrincipalBox">

        <h1>Create</h1>

        <form asp-action="Creating">

            <div>
                <div>


                    <label for="UserId">UserId: </label>
                    <input name="UserId" type="text" />

                </div>
                <div>
                    <label for="JobTitle">Job Title: </label>
                    <input name="JobTitle" type="text" />
                </div>
            </div>
            <div>
                <div>

                    <label for="FirstName">First Name: </label>
                    <input name="FirstName" type="text" />
                </div>
                <div>

                    <label for="LastName">Last Name: </label>
                    <input name="LastName" type="text" />
                </div>
            </div>
            <div>
                <div>
                    <label for="Email">Email: </label>
                    <input name="Email" type="text" />
                </div>
                <div>

                    <label for="Phone">Phone: </label>
                    <input name="Phone" type="text" />
                </div>
            </div>

            <div>
                <div
                     <label for="DateOfBirth">Date of birth: </label>
                    <input name="DateOfBirth" type="date" />
                </div>
                <div
                     <label for="Sex">Sex:</label>
                    <select id="selectForm" name="sex" type="date">
                        @{
                            
                            foreach(string gender in Model)
                            {
                                
                            <option value=@gender>@gender </option>
                            }
                        }
                    
                    
                    </select>

                </div>

            </div>
            <div>

                <div id="BotaoEnvio">

                    <input type="submit" />
                </div>
            </div>

        </form>


    </div>
</div>
