<div class="createPage">





    <a asp-controller="Home" asp-action="Creating" asp-route-id="1">
       <button>
            Lista de 100 Pessoas
       </button> 
    </a><a asp-controller="Home" asp-action="Creating" asp-route-id="2">
        <button>
            Lista de 1000 Pessoas
        </button>
    </a><a asp-controller="Home" asp-action="Creating" asp-route-id="3">
        <button>
            Lista de 10000 Pessoas
        </button>
    </a><a asp-controller="Home" asp-action="Creating" asp-route-id="4">
        <button>
            Lista de 1000000 Pessoas
        </button>
    </a>



</div>