@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Utilize a aplicação por meio da NavBar!</h1>
    <h2 id="explicacao">
        (Métodos Update e delete estão contidos dentro da pagina Read!)
    </h2>
    <h3 id="resume">
        Este projeto visa mostrar na prática o que aprendemos nas aulas de AED, no qual implementamos diversas funcionalidades que nos foram ensinadas, utilizamos diferentes frameworks para o projeto, além de um diretório no GitHub para que todos os membros do grupo pudessem colaborar com o código simultaneamente. Diante disso, as tecnologias utilizadas foram: HTML, CSS, BOOTSTRAP, GIT, C# e ASP.NET CORE MVC.


    </h3>
  
    
       
    <p id="referencia">Código do repositório no <a href="https://github.com/saulluiz/SiteAED.git">GitHub</a>.</p>
</div>
