@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Utilize a aplicação por meio da NavBar!</h1>
    <h2 id="explicacao">
        Métodos Update e delete estão contidos dentro da pagina Read!
    </h2>
    
       
    <p>Código do repositório no <a href="https://github.com/saulluiz/SiteAED.git">GitHub</a>.</p>
</div>
