:root {
    --cor1: rgb(205, 232, 229);
    --cor2: rgb(238, 247, 255);
    --cor3: rgb(122, 178, 178);
    --cor4: rgb(77, 134, 156);
}

html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}






/*Box Shadow*/
.PrincipalBox {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}

.PrincipalBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--cor1);
    border-radius: 15px;
}

    .PrincipalBox h1 {
        text-align: left;
        font-family: fantasy;
        margin-left: 50px;
        margin-top: 25px;
        margin-bottom: -10px;
    }

    .PrincipalBox form {
        width: 100%;
    }

    .PrincipalBox div {
        margin: 20px;
        display: flex;
        justify-content: space-around;
    }

        .PrincipalBox div div {
            padding: 30px;
            width: 500px;
            max-height: 100px;
            display: flex;
            justify-content: space-between;
            background-color: var(--cor2);
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

            .PrincipalBox div div input {
                width: 300px;
                height: 40px;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 10px;
            }

            .PrincipalBox div div label {
                margin: auto;
                font-size: 20px;
                font-family: Arial;
                font-weight: bold;
            }

.PessoalNav {
    background-color: var(--cor3);
}

#CreatePage {
    display: flex;
    justify-content: center;
}

#BotaoEnvio {
    box-shadow: none;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
}

    #BotaoEnvio input {
        background-color: white;
        font-family: fantasy;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        height: 70px;
        margin-top: -15px;
    }

        #BotaoEnvio input:hover {
            background-color: var(--cor2);
        }

.createPage {
}

    .createPage button {
        background-color
    }

#selectForm {
    width: 300px;
}

.table {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 6px 6px;
}

.td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px 2px;
    width: 10px;
}

.tr {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px 2px;
}

.th {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px 2px;
}



#edit {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 5px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#delete {
    appearance: none;
    background-color: #a42e2e;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.createPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-around;
    font-family: fantasy;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 700px;
    margin: auto;
    padding: 20px;
    text-justify: center;
}

    .createPage button {
        width: 300px;
        padding: 15px;
        border-radius: 10px;
        font-family: fantasy;
        font-size: 19px;
        background-color: var(--cor2)
    }

#Ordenadores h2 {
    font-size: 25px;
    justify-items: center;

}

.Ordenadores {
    display: flex;
   align-items:space-around;
    width: 350px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    margin-right: 20px;
    height: 200px;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 5px;
}

#PaginaLeitura {
    width: 100%;
    padding: 15px;
}

.pagina {
    width: 80%;
    margin: auto;
}

#sort {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    
    justify-content: center;
    padding: 6px 14px;
    width: 200px;
    font-family: fantasy;
    font-size: 17px;
    font-weight: 300;
    border-radius: 6px;
    border: none;
    background: var(--cor4);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#sort:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.pesquisa {
    display: flex;
   height:200px;
    width: 350px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    margin-right: 20px;
    
    font-family: fantasy;
    justify-content: space-around;
    align-items: center;
}
.pesquisa form{
    display:flex;
    height:200px;
    flex-direction:column;
    justify-content:space-around;
}
.pesquisa form input{
    height:35px;
}

#conf {
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sortDiv{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:300px;
    align-items:center;
}
.sort{
    margin:15px;
}
#titulo{
    font-family:fantasy
}
li{
    font-family:fantasy;
    font-weight:200;
}
li:hover{
    
    background-color:antiquewhite;
    border-radius:6px;
}
#explicacao{
    font-size:15px;
}